* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* header-section-start */
header{
    background-color: #fff4e7;
}
.logo h1{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 102px 0px;
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #424242;
}
/* header-section-end */

/* banner-section-start */
.banner h1{
    font-size: 64px;
    font-weight: bold;
    color: #131313;
}
.banner p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding: 32px 0px 32px 0px;
}
.banner {
    text-align: center;
    width: 862px;
    margin: 0 auto;

}
.btn {
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.banner-image{
    text-align: center;
    padding: 50px 0px 45px 0px;
}
.banner-image img{
    vertical-align: middle;
}
/* banner-section-end */

/* feature-section-start */
.features{
    display: flex;
    align-items: center;
    width: 1318px;
    margin: 0 auto;
    padding: 85px 0px 130px 0px;
}
.features-sec-left{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features-sec-right{
    width: 537px;
    padding-left: 73px;
}
.features-sec-right h3{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.features-sec-right .t-gray{
    font-weight: 500;
    color: #727272;
}
.features-sec-right .t-orange{
    font-weight: bold;
    color: #FF900E;
}
.features-p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding: 24px 0px 32px 0px;
}
/* feature-section-end */

/* experience-section-start */
.experience-sec{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
.experience-left-content{
    max-width: 586px;
    margin-right: 146px;
}
.experience-left-content h1{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
    border-left: 4px solid #FF900E;
    padding-left: 21px;
}
.ex-p{
    font-size: 16px;
    color: #727272;
    line-height: 26px;
}
.ex-p-m{
    margin: 24px 0px 30px 0px;
}
.ex-box h3{
    font-size: 20px;
    font-weight: 600;
    color: #131313;
}
.ex-box{
    width: 586px;
    height: 171px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding: 30px 42px 30px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ex-box:last-child{
    margin-bottom: 0px;
}
.ex-position h1{
    font-size: 65px;
    font-weight: bold;
    line-height: 70px;
    color: #FFFFFF;
}
.ex-position p{
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    color: #FFFFFF;
}
.ex-position{
    width: 342px;
    height: 200px;
    border-radius: 8px;
    background-color: #FF900E;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    cursor: pointer;
    margin-left: -92px;
    margin-top: -76px;
    position: relative;
}
/* experience-section-end */

/* facts-section-start */
.facts-section{
    max-width: 1389.92px;
    margin: 0 auto;
    padding: 131px 0px 180.08px 0px;
}
.facts-sec-up-content{
    width: 542px;
}
.facts-sec-up-content h2 {
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.facts-sec-up-content p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding: 24px 0px 100.08px 0px;
}
.facts-box{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 124.17px;
    justify-content: end;
}
.facts-box-contents{
    width: 241.83px;
    height: 241.83px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.facts-box-contents h1{
    padding: 5px 0px 10px 0px;
}
/* facts-section-end */

/* sponsor-section-start */
.sponsor-section{
    width: 1439.67px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 130px;
}
.sponsor-upeer-content p{
    padding-bottom: 50px;
}
.sponsor-upeer-content{
    margin: 0 auto;
}
.sponsors-images{
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    gap: 155.24px;
}
/* sponsor-section-end */

/* footer-section-start */
footer{
    max-width: 1440px;
    height: 100px;
    background-color: #FFF4E7;
    margin: 0 auto;
    margin-bottom: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-p{
    font-size: 20px;
    color: #424242;
}
/* footer-section-end */